/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700 */

/* Font CSS */
* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    /* background-color: rgb(242, 251, 213); */
    background-color: rgb(0, 0, 0);
  }

.HeaderBanner {
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
    height: 100px;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size:xx-large;
}

nav {
	display: flex;
	justify-content: space-evenly;
    background-color: bisque;
    align-items: center;
    padding: 10px;
    /* Below allows the navbar to take up the entire width of the screen */
    /* position: fixed;
    left: 0;
    width: 100%; */
    /* Font Weight here is not doing anything? */
    font-weight:600;
    gap: 7px;
}

main {
	display: flex;
	justify-content: center;
    padding: 15px;
    min-height: 2000px;
    background-color: rgb(191, 228, 128);

}

footer {
    display: flex;
	justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    padding: 15px;
    min-height: 75px;
}

.PageBanner {
    display: flex;
	justify-content: center;
    align-items: center;
    background-color: rgb(67, 221, 255);
    min-height: 150px;
}

.NavSymbol {
    height: 30px;
}

#NavSymbolLogo {
    height: 72px;
    position: relative;
    top: -30px;
}