body {
    background-color: rgb(242, 251, 213);
  }

.HeaderBanner {
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
    min-height: 66px;
}

nav {
	display: flex;
	justify-content: space-evenly;
    background-color: bisque;
    padding: 10px;
    /* Below allows the navbar to take up the entire width of the screen */
    /* position: fixed;
    left: 0;
    width: 100%; */
}

nav {
   
    background-color: bisque;
    padding: 10px;
}

main {
	display: flex;
	justify-content: center;
    padding: 15px;
    min-height: 2000px;
}

footer {
    display: flex;
	justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    padding: 15px;
    min-height: 75px;
}